version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"

  - package-ecosystem: "bun"
    directory: "/frontend"
    schedule:
      interval: "daily"

  - package-ecosystem: "npm"
    directory: "/e2e"
    schedule:
      interval: "daily"

  - package-ecosystem: "uv"
    directory: "/backend"
    schedule:
      interval: "daily"

  - package-ecosystem: "uv"
    directory: "/ieapp-cli"
    schedule:
      interval: "daily"

  - package-ecosystem: "uv"
    directory: "/ieapp-core"
    schedule:
      interval: "daily"

  - package-ecosystem: "cargo"
    directory: "/ieapp-core"
    schedule:
      interval: "daily"

  - package-ecosystem: "docker"
    directory: "/backend"
    schedule:
      interval: "daily"

  - package-ecosystem: "docker"
    directory: "/frontend"
    schedule:
      interval: "daily"