version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"

  - package-ecosystem: "npm"
    directory: "/frontend"
    schedule:
      interval: "weekly"

  - package-ecosystem: "npm"
    directory: "/e2e"
    schedule:
      interval: "weekly"

  - package-ecosystem: "pip"
    directory: "/backend"
    schedule:
      interval: "weekly"

  - package-ecosystem: "pip"
    directory: "/ieapp-cli"
    schedule:
      interval: "weekly"

  - package-ecosystem: "pip"
    directory: "/ieapp-core"
    schedule:
      interval: "weekly"

  - package-ecosystem: "cargo"
    directory: "/ieapp-core"
    schedule:
      interval: "weekly"

  - package-ecosystem: "docker"
    directory: "/backend"
    schedule:
      interval: "weekly"

  - package-ecosystem: "docker"
    directory: "/frontend"
    schedule:
      interval: "weekly"