repos:
  - repo: local
    hooks:
      - id: mise-format
        name: mise run format
        entry: mise run format
        language: system
        pass_filenames: false
      - id: mise-lint
        name: mise run lint
        entry: mise run lint
        language: system
        pass_filenames: false
