services:
  backend:
    build:
      context: ./backend
      additional_contexts:
        module: ./ieapp-cli
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app/backend
    command: uv run uvicorn src.backend.main:app --host 0.0.0.0 --port 8000

  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app/frontend
    command: bun run dev
