min_version = "2025.11.3"
experimental_monorepo_root = true

[env]
_.python.venv = { path = "backend/.venv" }

[tools]
biome = "2.3.5"
bun = "1.3.2"
python = "3.14"
uv = "0.9.8"
pre-commit = "latest"

[tasks.install]
depends = ["//backend:install", "//frontend:install"]

[tasks.dev]
depends = ["//backend:dev", "//frontend:dev"]

[tasks.format]
depends = ["//backend:format", "//frontend:format"]

[tasks.lint]
depends = ["//backend:lint", "//frontend:lint"]

[tasks.test]
depends = ["//backend:test", "//frontend:test"]