min_version = "2025.11.3"
experimental_monorepo_root = true

[env]
_.python.venv = { path = "backend/.venv" }

[tools]
biome = "2.3.5"
bun = "1.3.2"
python = "3.14"
uv = "0.9.8"

[tasks.install]
depends = ["//backend:install", "//frontend:install", "//ieapp-cli:install"]

[tasks.dev]
depends = ["//backend:dev", "//frontend:dev"]

[tasks.sandbox:install-javy]
run = "bash scripts/setup_javy.sh"

[tasks.sandbox:build]
depends = ["sandbox:install-javy"]
run = "bash backend/src/app/sandbox/build_sandbox_wasm.sh"